
@font-face {
    font-family: VarelaRound-Regular;
    src: url(../fonts/VarelaRound-Regular.ttf);
}

/* Custom font classes */

.regular {
    font-family: VarelaRound-Regular;
}

/* ############################### */

/* Global Variables */

/* ############################### */

* {
    font-family: VarelaRound-Regular;
}

body {
    background-color: #f5f5f5;
    background-image: url(../img/background8.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -200px;
}

.container-panel {
    width: 85%;
    margin: auto;
}

.flow-text {
    font-size: 15px;
}

p {
    font-size: 15px;
}

.div-section {
    padding-bottom: 10px;
}

.title-section {
    margin-left: 55px;
    padding-top: 8px;
    letter-spacing: 1px;
    font-weight: 300;
    color: #424242;
    font-size: 30px;
    font-family: VarelaRound-Regular;
    font-stretch: narrower;
}

#sample-one {
    float: left;
}

#sample-two {
    float: left;
}

.icon-title-wrapper {
    margin-bottom: 20px;
}

/* Header */

nav {
    background-color: #37474f;
}

nav .brand-logo {
    color: #42a5f5;
}

nav a:hover, a:active {
    color: #42a5f5;
    border-bottom: 3px solid #42a5f5;
}

.anchor{
    display: block;
    height: 50px; /*same height as header*/
    margin-top: -50px; /*same height as header*/
    visibility: hidden;
  }
/* ############################### */

/* Information-division */

/* ############################### */

#information-div {
    height: 765px;
    border: 2px solid #03a9f4;
    border-radius: 10px;
    color: #03a9f4;
}

#profile-image {
    margin-top: 20px;
    height: 250px;
    border-style: solid;
    border-radius: 150px;
}

#name-wrapper {
    margin-top: 20px;
}

#myName {
    letter-spacing: 1px;
    font-size: 28px;
    text-transform: uppercase;
    font-stretch: narrower;
}

#name-title {
    padding-bottom: 20px;
    letter-spacing: 2px;
    font-stretch: condensed;
    font-weight: 300;
    font-size: 20px;
    font-stretch: narrower;
}

#information-div #icon {
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}


#contact-information {
    margin-top: 45px;
}

#contact-information h6 {
    padding: 10px 0 10px 0;
}

#information-div hr{
    height: 1px;
    background-color: #03a9f4;
    border: none;
}

#icon {
    padding-right: 10px;
}

#information-div {
    margin-top: 20px;
}


/* ############################### */

/* about section */

/* ############################### */

#about-div {
    height: 350px;
    margin-top: 20px;
    background: #fafafa;
    color: #424242;
}

#about-div a {
    background: #ff8a65;
}

#about-div p {
    font-size: 16px;
}

/* ############################### */

/* Work Experience section     */

/* ############################### */

#work-experience-div {
    height: 850px;
    background: #fafafa;
    color: #424242;
}

#work-experience-div h6 {
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic; 
}

.div-wrapper {
    padding-left: 10px;
    border-left: 3px solid #ff9800;
}

.div-wrapper ul {
    padding-left: 40px;
}

.experience-wrapper p {
    padding-left: 10px;
    margin-bottom: 20px;
}


#work-experience-div p {
    font-size: 16px;
}

#work-experience-div ul:not(.browser-default)>li {
    list-style-type: circle;
}

/* ############################### */

/* Educational Value section     */

/* ############################### */

#educational-value-section {
    height: 400px;
    background: #fafafa;
    color: #424242;
}

#educational-value-section h6 {
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
}

#educational-value-section p {
    font-size: 16px;
}

/* ############################### */

/* Skill section     */

/* ############################### */

#skill-div {
    background: #fafafa;
    color: #424242;
    height: 500px;
}

.progress .determinate {
    background: #03a9f4;
}

.progress {
    margin-bottom: 20px;
    background-color: #81d4fa;
    height: 3px;
}

/* ############################### */

/* Project section     */

/* ############################### */

#project-div {
    background-color: #fafafa;
}

#project-div .project-cards{
    border-top: #03a9f4 solid 5px;
}

/* ############################### */

/* Contact section     */

/* ############################### */

#contact-section {
    height: 400px;
    background-color: #fafafa;
}

#contact-left-panel input:first-child{
    padding-top: 10px;
}

#contact-left-panel input{
    font-family: VarelaRound-Regular;
}

#contact-left-panel button{
    font-family: VarelaRound-Regular;
    width: 100%;
}

#contact-right-panel {
    padding-top: 20px;
    color: white;
}

#contact-right-panel a{
    color: white;
}

#contact-right-panel ul{
    padding-left: 90px;
}

#contact-right-panel li{
    display: inline;
    padding-right: 10px;
}

/* Footer */
.page-footer {
    background-color: #37474F;
}

#sub-footer {
    height: 350px;
}

#sub-footer h5{
    color:white;
}

.footer-copyright {
    background-color:#263238 !important;
} 

/* ############################### */

/* Media Queries     */

/* ############################### */

@media screen and (max-width: 1300px) {
    #information-div{
        height: 785px;
        width: auto;
        position: relative;
    }
    
    #about-div {
        height: 540px;    
    }

    #educational-value-section {
        height: 540px;    
    }

    #work-experience-section {
        height: 1050px;    
    }

    #sub-footer {
        height: 500px;
    }

    #contact-right-panel ul{
        padding-left: 0;
    }

}